<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <title><%= title %></title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
    }

    h1 {
      color: #333;
      margin: 0;
      padding: 0;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      text-transform: uppercase;

      margin-bottom: 50px;
      padding-bottom: 10px;

      border-bottom: 1px solid #333;
    }

    nav .brand-text{
      color: #333;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;
    }

    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: end;
      list-style: none;
    }

    nav ul li {
      margin-left: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: #777;
    }

    .content {
      margin-left: 20px;
    }

    .content form {
      max-width: 500px;
      margin: 0 auto;
    }

    .content form input,
    .content form textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

      .content form button {
        padding: 10px 20px;
        background-color: steelblue;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

    footer {
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
  </style>
</head>
