<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head.ejs') %>
  <body>
    <%- include('layout/nav.ejs') %>
    <div class="content">
      <h3>About Page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. At vel
        asperiores dolorum provident doloremque facere nam delectus nobis,
        incidunt nulla, ipsa culpa dolore odit dicta suscipit quibusdam quo
        deserunt accusantium!
      </p>
    </div>
    <%- include('layout/footer.ejs') %>
  </body>
</html>
