<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title><%= title %></title>
  </head>
  <body>
    <% const greeting = "Welcome to EJS Lesson" %>

    <nav>
      <div>
        <a href="/">Home Page</a>
        <p><%= greeting %></p>
      </div>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts/create">Create Post</a></li>
      </ul>
    </nav>
    <div>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At vel asperiores dolorum provident doloremque facere nam delectus nobis, incidunt nulla, ipsa culpa dolore odit dicta suscipit quibusdam quo deserunt accusantium!</p>
    </div>
  </body>
</html>
